:root {
    --cell: 13vh;
    --rows: 7;
    --columns: 7;
    --puck-pad: 20px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#main-container {
    width: calc(var(--columns) * var(--cell));
    height: calc(var(--rows) * var(--cell));
}

#free {
    position: absolute;
}

#board-grid {
    width: var(--dim);
    height: var(--dim);

    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell));
    grid-template-rows: repeat(var(--rows), var(--cell));   
}

#insert-row {
    grid-column: 1 / calc(var(--columns) + 1);
}

#puck-row {
    grid-row: 2 / calc(var(--rows) + 1);
    grid-column: 1 / calc(var(--columns) + 1);

    display: grid;
    grid-auto-flow: column;

    border-bottom: solid black 3px;
}

#puck-row > div {
    border-right: solid black 3px;
}

#puck-row > div:first-child {
    border-right: solid black 3px;
    border-left: solid black 3px;
}



.puck {
    width: calc(var(--cell) - var(--puck-pad));
    height: calc(var(--cell) - var(--puck-pad));
    margin-left: calc(var(--puck-pad) / 2);
    margin-top: calc(var(--puck-pad) / 2);
    border-radius: 50%; 

    position: absolute;

    transition: margin 0.5s;
}

.blue {
    background-color: rgb(79, 133, 232);
}

.red {
    background-color: rgb(247, 76, 76);
}