@import url("chips.css");

:root {
    --bg: #1e1e1e;
    --cell-size: 140px;
    --board-width: calc(var(--cell-size) * 7);
    --board-height: calc(var(--cell-size) * 6);
    --base-margin: 20px;
}

* {
    font-family: sans-serif;
    color: white;
}

body > h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--bg);
    display: grid;
    align-items: center;
    justify-content: center;
}

#board {
    width: var(--board-width);
    height: var(--board-height);
    border: 2px solid white;
    transition: border-color .25s;
    border-top: none;
    border-right: none;
    display: grid;
    grid-auto-flow: column;
}

#board > div:not(#free) {
    border-right: 2px solid white;
    z-index: 1;
    transition: border-color .25s;
}

#free {
    position: absolute;
    width: var(--board-width);
    height: var(--board-height);
}

#button-container {
    display: grid;
    justify-content: center;
    align-self: start;
}

#button-container > button {
    background-color: #0e639c;
    border: none;
    width: fit-content;
    padding: 10px;
    font-size: 1.2em;
}

#button-container > button:hover {
    background-color: rgb(17, 119, 187)
}

#turn-indicator {
    width: var(--board-width);
    height: 30px;
    transition: background-color .5s;
    place-self: start;
}